{% extends 'layout.njk' %}

{% block header %}
  <title>Details - Foodfy</title>
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="detail__content">
      <div class="content-image">
        <img class="detail__image" src="{{item.image}}" alt="">
      </div>
      <div class="content-description">
        <p class="detail__description">{{item.description}}</p>
        <p class="detail__author">{{item.author}}</p>
      </div>
      <div class="ingredients">
        <h3>Ingredientes<span class="hidden">ESCONDER</span></h3>
        <div class="div-hidden">
          <ul>
            <li>200g de carne de boi moída (maminha, fraldinha, miolo de alcatra e coxão duro em partes iguais)</li>
            <li>1 colher (chá) de cebola picada finamente</li>
            <li>1/4 de dente de alho picado finamente</li>
            <li>Sal e pimenta do reino moída na hora</li>
            <li>60 g de queijo Serra da Canastra fatiado</li>
            <li>3 fatias finas de bacon</li>
            <li>4 folhas de mini mostarda</li>
            <li>Pão de hambúrguer de sua preferência</li>
          </ul>
        </div>
      </div>

      <div class="directions">
        <h3>Modo de Preparo<span class="hidden">ESCONDER</span></h3>
        <div class="div-hidden">
          <p>Misture as carnes moídas e junte a cebola e o alho. Molde com as mãos para formar um hambúrguer com aproximadamente 2cm de espessura. Tempere com sal e pimenta somente quando for grelhá-lo. Coloque o hambúrguer para grelhar de preferência em uma grelha estriada ou char-broiler bem quente, por mais ou menos 6 minutos de cada lado, até chegar ao ponto. Quando virar o hambúrguer, coloque o queijo por cima e tampe com abafador para derretê-lo. Separadamente, frite o bacon em uma frigideira até ficar crocante. Monte o hambúrguer no pão, coloque o bacon por cima e finalize com as folhas de mostarda.</p>
        </div>
      </div>

      <div class="informations">
        <h3>Informações adicionais<span class="hidden">ESCONDER</span></h3>
        <div class="div-hidden">
          <p>Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!</p>
          <p>Você sabia que a receita que precede o hambúrguer surgiu no século XII na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijo, tomates e alface</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}