{% extends 'layout.njk' %}

{% block header %}
  <title>Details - Foodfy</title>
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="detail__content">
      <div class="content-image">
        <img class="detail__image" src="{{item.image}}" alt="">
      </div>
      <div class="content-description">
        <p class="detail__description">{{item.description}}</p>
        <p class="detail__author">{{item.author}}</p>
      </div>
      <div class="ingredients">
        <h3>Ingredientes<span id='ingredients' class="hidden">ESCONDER</span></h3>
        <div class="div-hidden ingredients">
          <ul>
            {{item.ingredients}}
          </ul>
        </div>
      </div>

      <div class="directions">
        <h3>Modo de Preparo<span id="directions" class="hidden">ESCONDER</span></h3>
        <div class="div-hidden directions">
          {{item.preparation}}
        </div>
      </div>

      <div class="informations">
        <h3>Informações adicionais<span id="informations" class="hidden">ESCONDER</span></h3>
        <div class="div-hidden informations">
         {{item.information}}
        </div>
      </div>
    </div>
  </div>
  
  <script src="/script.js"></script>
{% endblock content %}