{% extends 'layout.njk' %}

{% block header %}
  <title>Home - Foodfy</title>
{% endblock header %}

{% block content %}

  <div class="container">
    <section id="introduction">
      <div class="introduction__description">
        <h1>As melhores receitas</h1>
        <p>aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>
      <div class="introduction__logo">
        <img src="/assets/chef.png" alt="Imagem do Chef">
      </div>
    </section>

    <section id="card">
      <h2>Mais acessadas</h2>
      <div class="card__featured">
        <div class="card__content">
          <div class="content-image">
            <img src="/assets/burger.png" alt="x-burger">
          </div>
          <div class="content-description">
            <p>Triplo bacon burger</p>
            <p class="author">por Jorge Relato</p>
          </div>
        </div>

        <div class="card__content">
          <div class="content-image">
            <img src="/assets/pizza.png" alt="x-burger">
          </div>
          <div class="content-description">
            <p>Pizza 4 estações</p>
            <p class="author">por Fabiana Melo</p>
          </div>
        </div>

        <div class="card__content">
          <div class="content-image">
            <img src="/assets/espaguete.png" alt="x-burger">
          </div>
          <div class="content-description">
            <p>Espaguete de alho</p>
            <p class="author">por Júlia Kinoto</p>
          </div>
        </div>

        <div class="card__content">
          <div class="content-image">
            <img src="/assets/lasanha.png" alt="x-burger">
          </div>
          <div class="content-description">
            <p>Lasanha mac n' cheese</p>
            <p class="author">por Juliano Vieira</p>
          </div>
        </div>

        <div class="card__content">
          <div class="content-image">
            <img src="/assets/doce.png" alt="x-burger">
          </div>
          <div class="content-description">
            <p>Docinhos pão-do-céu</p>
            <p class="author">por Ricardo Golvea</p>
          </div>
        </div>

        <div class="card__content">
          <div class="content-image">
            <img src="/assets/asinhas.png" alt="x-burger">
          </div>
          <div class="content-description">
            <p>Asinhas de frango ao barbecue</p>
            <p class="author">por Vania Steroski</p>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}