{% extends 'layout.njk' %}

{% block header %}
  <title>Home - Foodfy</title>
{% endblock header %}

{% block content %}

  <div class="container">
    <section id="introduction">
      <div class="introduction__description">
        <h1>As melhores receitas</h1>
        <p>aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>
      <div class="introduction__logo">
        <img src="/assets/chef.png" alt="Imagem do Chef">
      </div>
    </section>

    <section id="card">
      <h2>Mais acessadas</h2>
      <div class="card__featured">
      {% for item in items %}
      
        <div class="card__content">
          <div class="content-image">
            <img src="/assets/{{item.id}}.png" alt="{{item.description}}">
          </div>
          <div class="content-description">
            <p>{{item.description}}</p>
            <p class="author">{{item.author}}</p>
          </div>
        </div>
        {% endfor %}

       
      </div>
    </section>
  </div>

{% endblock content %}